/*
font-family: "Roboto", sans-serif;
*/

p,
.header,
.main,
.bio {
    font-family: "Roboto", sans-serif;
    color: #000000;
}

/*
HEADER
*/

.header, 
p {
    text-align: center;
}

.header {
    line-height: 0.5;
}

/*
BODY
*/

h1,
h2,
h3 {
    margin-top: 30px;
}

h3 
    {margin-bottom: auto;
}

h4,
i,
ul {
    margin: 5px;
}

ul,
p {
    line-height: 1.5;
}

#education,
#prof {
    margin-top: auto;
    margin-bottom: -20px;
    font-weight: 550;
}

hr {
    border: 1.5px solid #3D3D3D;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}